body {
    background-image: url(../image/bg-repeat.jpg);
    background-size: contain;
    max-width: 1024px;
}

main {
    height: 100vh;
    display: flex;
}

.textos h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 12px;
}

.textos p {
    font-size: 15px;
    font-weight: 400;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 5%;
    color: #fff;

}

.formulario {
    background-color: #fff;
    margin: 5%;
    min-width: 340px;
    border-radius: 1px;
    padding: 20px;
}

.formulario form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.formulario form input, textarea {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    height: 35px;
}

.formulario form textarea{
    height: 100px;
}

/* .formulario form .entrada .input-text:last-child {
    margin-bottom: 0px;
    height: 100px;
} */

.formulario form .texto-campo {
    margin-bottom: 20px;
    transform: translateX(-5px);
}

.formulario form .botao {
    background-color: #3CCC87;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.formulario .entrada p {
    display: none;
    color: #F52E2E;
    font-size: 8px;
    font-weight: 400;
}
/* ----------------CAMPO VAZIO */

.formulario .entrada.vazio p {
    display: block;
}

.formulario .input-obrigatorio .input-text{
    border-color: #F52E2E;
}
/* -----------CAMPO PREENCHIDO */
.formulario .input-aceito .input-text{
    border: 1px solid #00C22B;
}

/* ---------css,
responsividade,
Checagem final
 */